<footer class="text-center text-white fixed-bottom" style="background-color: #21081a;">
  <!-- Grid container -->
  <div class="container p-0"></div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright: by Fest White
    <a class="text-white" href="https://github.com/theFest"> @ github.com/theFest</a>
  </div>
  <!-- Copyright -->
</footer>