<div class="container">
  <h1 class="status-reason">
                <i class="fa fa-exclamation-triangle fa-2x"></i> Under Construction
            </h1>
</div>
<section class="additional-info">
  <div class="container">
    <div class="additional-info-items">
      <h2 class="info-heading">
        Good news! we are working on your site.
      </h2>
      <div class="reason-text">
        Check back soon or contact us for more information.
      </div>
    </div>
  </div>
</section>